<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="org.fenix">

    <name>Fenix</name>

    <description>Fenix - Ajuda ser automovel</description>

    <author href="http://fenix.org" email="fenix@fenix.com">Fenix</author>

	<icon src="img/fenix-logo.png" />
	<gap:splash src="img/fenix-logo.png" />
	
	<preference name="orientation" value="portrait" />
	<!--<preference name="fullscreen" value="true" />-->
	
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	
	<access origin="*"/>
	
	<gap:platform name="android" />
	
</widget>